<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
h1 {
    color: #f54b4b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    text-align: center;
    text-shadow: -1px 0 white, 0 1 px white, 1px 0 white, 0 -1px white;
    margin-top: 300px;
}

body{
    background-color: black;
}

</style>
<body>
    <h1>Los datos ingresados no se encuentran dados de alta en el sistema, regresa al formulario y elige la opcion 
        "REGISTRAR", ¡gracias!</h1>
       ¿
</body>
</html>