<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--referencia a un tipo de letra sacado de GOOGLE FONTS-->
<link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">
</head>
<style>
    <!--estilo de nuestra pagina-->
    body{
        background-color: rgb(243, 219, 243);
        font-family: "IM Fell French Canon SC", serif;
        font-size: 40px;
    }
      
    h1 {
        color: #fafafa;
        text-align: center;
        margin-top: 300px;
        margin-right: -25px;
    }
    </style>
<body>
    <!--texto de bienvenida al usuario, una vez ingreso correctamente-->
    <h1>Ingresaste correctamente, bienvenido a tu espacio en DISNEY WORLD:) </h1>
</body>
</html>